nav ul{
    display: flex;
}
nav ul li
{
   list-style: none;
   margin-right: 5px;
   padding: 5px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li:hover
{
    background-color: aqua;
}
nav
{
    background-color: bisque;
    width: fit-content;
}